.banner {
  padding: 58px 0;

  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.page-header {
  
  &__title {
    margin: 0;

    font-size: 26px;
    font-weight: $f-bold;
    color: $c-black;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;

  @media ($m-extra-small) {
    justify-content: flex-start;
    margin: 20px 0 0;
  }

  &__item {
    display: flex;
    align-items: center;

    list-style: none;
  }

  &__link {
    font-size: 12px;
    font-weight: $f-regular;
    color: $c-dark;

    text-transform: uppercase;
    text-decoration: none;
  }
  
  &__text {
    font-size: 12px;
    font-weight: $f-regular;
    color: $c-gray;

    text-transform: uppercase;
  }

  .chevron {
    margin: 0 11px;

    font-size: 10px;
    color: $c-dark;
  }
}















