.catalog {
  padding: 50px 0 84px;

  border-bottom: 1px solid #eee;

  &__top {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 40px;

    @media ($m-extra-small) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.search-field {
  margin: 0 30px 0 0;

  @media ($m-extra-small) {
    margin: 0 0 20px;
    width: 100%;
  }

  input {
    display: block;
    width: 200px;
    height: 38px;
    padding: 0 10px;

    font-size: 12px;
    font-weight: $f-bold;
    color: $c-black;
    text-transform: uppercase;

    border: 2px solid $c-dark;
    outline: none;

    @include placeholder;
    @include focus;

    @media ($m-extra-small) {
      width: 100%;
    }

  }
}

.clear {

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 38px;

    font-size: 12px;
    font-weight: $f-bold;
    color: $c-dark;
    text-transform: uppercase;

    border: 2px solid $c-dark;
    background: $c-white;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: $c-dark;
      color: $c-white;
    }
  }
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0;
  margin: 0 0 50px;
  min-height: 375px;
  border: 1px solid #eee;
  transition: all .35s ease .25s;

  overflow: hidden;

  &:hover {
    background-color: #f6f6f6;
    transition: all .35s ease .25s;

    .card__btn {
      background-color: $c-red;
      color: $c-white;
      transition: all .35s ease .25s;
    }

    .hover-block {
      top: 0;
      opacity: 1;
      transition: all .35s ease;

      &__btn {
        opacity: 1;
        margin: 0;
        transition: margin .35s ease .25s;
      }
    }
  }

  .hover-block {
    position: absolute;
    top: -250px;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;

    opacity: 0;
    transition: all .35s ease .15s;
    background-color: rgba(0,0,0, .8);

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;
      max-width: 170px;
      margin: -40px 0 0;

      font-size: 12px;
      color: $c-white;
      font-weight: $f-regular;
      text-transform: uppercase;

      border: 2px solid $c-white;
      background-color: transparent;

      opacity: 0;
      transition: margin .35s ease .15s;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: $c-white;
        color: $c-dark;
      }
    }
  }

  &__images {
    position: relative;

    display: block;
    width: 100%;
    height: 190px;

    line-height: 0;
    text-decoration: none;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
  }

  &__title {
    position: relative;

    margin: 27px 0 4px;
    padding: 19px 0 0;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background-color: $c-red;
      transform: translateX(-50%);
    }

    a {
      font-size: 14px;
      font-weight: $f-bold;
      color: $c-dark;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &__price {
    margin: 0 0 27px;

    span {
      font-size: 16px;
      font-weight: $f-bold;
      color: $c-red;
    }
    
    .old {
      font-size: 14px;
      color: $c-gray;
      text-decoration: line-through;
    }
  }

  &__btns {
    display: flex;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 -1px -1px;

    color: $c-dark;

    transition: all .35s ease .15s;
    background-color: $c-white;
    border: 1px solid #eee;
    cursor: pointer;
    outline: none;
  }
}

.pagination {
  margin: 27px 0;
  width: 100%;

  &-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin: 0 4px;

      font-size: 12px;
      color: $c-dark;
      font-weight: $f-regular;

      border: 2px solid $c-gray;
      text-decoration: none;

      &.current {
        color: $c-red;

        border-color: $c-dark;
      }
    }
  }
}


.box {
  display: none;

  &.active {
    display: block;
  }
}

.p-list {
  display: flex;
  margin: 0;
  padding: 0;

  li {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    list-style: none;
    margin: 0 5px;
  }
}











