.features {
  margin: 95px 0 100px;

  &-slider {
    position: relative;

    padding: 26px 45px 52px;
    border: 2px solid $c-dark;

    @media ($m-extra-small) {
      padding: 26px 30px;
    }

    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 20px;
      width: calc(100% - 40px);
      height: 2px;
      background-color: $c-white;
    }
  }

  &-item {
    display: flex;

    text-decoration: none;

    @media ($m-extra-small) {
      justify-content: center;
    }

    &__icn {
      display: flex;
      justify-content: center;
      width: 30px;
      margin: 0 20px 0 0;

      color: $c-dark;

      .svg-inline--fa {
        width: 30px;
        height: 30px;
      }
    }

    &__text {

      h6 {
        margin: 0;

        font-size: 16px;
        color: $c-black;
        font-weight: $f-bold;
        text-transform: uppercase;
        letter-spacing: -.6px;
      }

      span {
        font-size: 12px;
        color: $c-dark;
        font-weight: $f-regular;
        letter-spacing: 0.3px;
      }
    }
  }
}