.header {
  padding: 52px 0 60px;
}

.logo-link {
  display: flex;
  flex-direction: column;

  text-decoration: none;

  &__text {
    margin: 0;

    &:first-child {
      position: relative;

      font-size: 26px;
      font-weight: $f-bold;
      color: $c-red;

      &:before {
        content: "";
        position: absolute;
        bottom: 2px;
        left: -2px;
        width: 9px;
        height: 2px;
        background-color: $c-red;
      }

      span {
        color: $c-black;
        text-transform: uppercase;
      }
    }

    &:last-child {
      font-size: 12px;
      font-weight: $f-regular;
      color: $c-dark;
      text-transform: uppercase;
      letter-spacing: 9px;
    }
  }
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0 11px 0 0;

  &_mobile {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 75px 0;
  }

  &__item {
    position: relative;

    list-style: none;

    &:hover {

      .drop-box {
        display: block;
      }

      .nav-list__link {
        color: $c-red;
      }

      &.chevron:after {
        top: 7px;
        color: $c-red;
        transform: rotate(180deg);
      }
    }

    &.chevron:after {
      content: "\f078";
      position: absolute;
      top: 5px;
      right: -1px;
      color: $c-black;
      font: normal normal normal 9px/1 FontAwesome;
    }
  }

  &__link {
    display: inline-flex;
    margin: 0 10px;

    font-size: 13px;
    font-weight: $f-bold;
    color: $c-dark;

    text-transform: uppercase;

    text-decoration: none;

    &.active {
      color: $c-red;

      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 11px;
        width: 10px;
        height: 2px;
        background-color: #e24545;
      }
    }

    &:hover {
      color: $c-red;
    }
  }
}

.drop-box {
  position: absolute;
  top: 100%;
  left: 10px;
  z-index: 2;

  display: none;
  width: 150px;
  background-color: $c-white;

  box-shadow: 0 0 10px rgba(0,0,0, .2);
}

.drop-list {
  padding: 10px 0;
  margin: 0;

  &__item {
    list-style: none;
  }

  &__link {
    display: inline-flex;
    padding: 5px 10px;

    font-size: 13px;
    font-weight: $f-regular;
    color: $c-gray;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $c-red;
    }
  }


}

.search {
  margin: 0 6px 0 0;
  font-size: 13px;
}

.basket {
  position: relative;

  display: flex;
  align-items: center;
  padding: 6px 14px;
  max-width: 140px;
  height: 44px;
  margin-left: auto;

  border: 2px solid $c-dark;
  text-decoration: none;

  @media ($m-extra-small) {
    padding: 6px 0;
    max-width: 100px;
    margin: auto;
  }

  &__icn {
    font-size: 23px;
    color: $c-red;

    @media ($m-extra-small) {
      display: none;
    }
  }

  &__price {
    padding: 0 0 0 10px;

    font-size: 15px;
    font-weight: $f-bold;
    color: $c-black;
  }

  &__count {
    position: absolute;
    right: -10px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;

    font-size: 11px;
    font-weight: $f-regular;
    color: $c-white;

    background-color: $c-black;
    border-radius: 50%;
    box-shadow: 0 0 0 5px $c-white;
  }
}

.toggle-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  @media ($m-extra-small) {

  }

  button {
    font-size: 36px;
    color: $c-black;

    border: none;
    background: none;
    outline: none;
  }
}