.catalog {

  &-filter {
    margin: 28px 0 0;
  }

  &-group {

    &__line {
      display: flex;

      &:first-child {
        display: none;

        @media ($desctop) {
          display: flex;
        }
      }

      &:last-child {
        position: relative;

        justify-content: space-between;
        padding: 10px 10px 0;
        margin: 15px 0 0;

        border-top: 1px solid $border;

        @media ($desctop) {
          padding: 0;
          margin: 0;
          border-top: none;
        }
      }
    }

    &__column {
      flex: 0;

      @media ($desctop) {
        width: auto;
      }

      &:first-child {
        display: flex;
        flex-grow: 1;

        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);

        @media ($desctop) {
          position: static;
          transform: translateX(0);
        }
      }
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 400px;

      @media ($desctop) {
        max-width: 100%;
        margin: -8px 0 0;
      }
    }

    &__hold {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      min-height: 51px;
    }

    &__row {
      display: -webkit-box;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 0 0 10px;
      margin: 36px 0 0;
      border-bottom: 1px solid $border;

      @media ($desctop) {
        margin: 16px 15px 0;
      }
    }

    &-head {
      display: flex;
      justify-content: center;
      align-items: center;

      &__title {
        margin: 0 0 0 10px;

        @include font(26px, $bold, $dark);

        @media ($desctop) {
          margin: 0 0 0 30px;
        }
      }
    }

    &-sort {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      height: 28px;

      @media ($desctop) {
        height: 41px;
        justify-content: flex-end;
        align-items: flex-end;
      }

      &__head {
        display: none;

        @media ($desctop) {
          display: block;
          width: 100%;
          text-align: left;
          padding: 0 0 5px;

          @include font(11px, $bold, $dark);
        }
      }
    }

    &-filter {
      position: relative;

      display: inline-flex;
      padding: 9px 30px 9px 9px;
      margin: 0 5px 10px 0;

      border-radius: 5px;
      border: 1px solid $main;

      &__item {
        @include font(14px, $bold, $dark);
      }
    }

    &-reset {
      display: none;

      @media ($desctop) {
        display: flex;
        align-items: flex-end;
        height: 37px;
        margin: 5px 10px 0 0;
      }

      &__item {
        @include font(14px, $bold, $main);
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-result {
      display: flex;
      align-items: flex-end;

      margin: 0 10px 0 0;

      @media ($desctop) {
        position: static;
        height: 37px;
        margin: 5px 10px 0 0;
      }

      &__item {
        @include font(14px, $bold, $dark);
      }
    }

    &__col {
      flex-direction: column;
      justify-content: flex-start;

      &:nth-child(1) {
        display: none;

        @media ($desctop) {
          display: flex;
          flex-direction: column;
          flex-basis: 220px;
          width: 220px;
          flex-shrink: 0;
          margin: 31px 0 0;
          //justify-content: flex-start;
        }
      }

      &:nth-child(2) {
        flex-grow: 1;
      }

      &:nth-child(3) {
        display: none;

        @media ($desctop) {
          position: relative;
          z-index: 1;

          display: flex;
          flex-basis: 220px;
          flex-shrink: 0;
          width: 220px;
          background: #fbfbfb;
          margin-top: -49px;
        }
      }

      &_favorites {

        &:nth-child(1) {
          display: flex;
          margin: 0;
          width: 100%;
          flex-basis: 100%;

          @media ($desctop) {
            width: calc(100% - 220px);
            flex-basis: calc(100% - 220px);
          }
        }

        &:nth-child(2) {
          display: none;

          @media ($desctop) {
            display: flex;
            flex-direction: column;
            width: 220px;
            margin-top: -49px;
            background: #fbfbfb;
          }
        }
      }
    }

    &__product {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      @media ($desctop){

        margin: 15px 15px 0;
      }

      &_favorites {
        margin: 15px 0 60px;

        .product {
          margin: -1px 0 0;
          padding: 50px 0 46px;
          border-top: 1px solid $border;
          border-bottom: 1px solid $border;

          &:hover {
            border-color: transparent;
          }

          @media ($desctop) {
            margin: 0;
            padding: 0 2px 20px;
            border: 2px solid transparent;
          }
        }

        .basket-add_catalog {
          right: 0;

          @media ($desctop) {
            right: -13px;
          }
        }
      }
    }
  }

  &-form {
    margin: 23px 0 0;

    @media ($desctop) {
      margin: 0;
    }

    &-box {

      &_row {
        display: flex;
        padding: 0 8px;

        &-m {
          justify-content: center;
        }
      }

      &_range {
        margin: 45px 8px 0;

        @media ($desctop) {
          margin: 30px 8px 0;
        }
      }

      &__field {
        display: none;
      }

      input[type="checkbox"] + .catalog-form-box__label {
        position: relative;

        display: block;
        padding: 5px 0 5px 40px;

        @include font(14px, $reg, $main);

        cursor: pointer;
        user-select: none;

        &:hover {
          background: lighten($orange, 35%);
        }

        &:before {
          content: "";
          position: absolute;
          top: 6px;
          left: 10px;
          width: 12px;
          height: 12px;
          border: 2px solid $main;
          border-radius: 3px;
        }

        span {
          display: inline-block;
          padding: 0 0 0 5px;
          @include font(14px, $reg, #b2b5df);
        }
      }

      input[type="checkbox"]:checked + .catalog-form-box__label:before {
        border-color: $orange;
        background-color: $orange;
        background-image: url("../img/svg/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px;
      }

      input[type="checkbox"] + .catalog-form-box__label_m {
        padding: 5px 0;
        width: 100%;
        cursor: default;

        &:hover {
          background: none;
        }

        &:before {
          left: calc(100% - 41px);
        }
      }

      &__price {
        display: inline-flex;
        text-align: right;
        width: 70px;
        margin: 0 12px 0 0;
        padding: 5px;

        @include font(14px, $reg, $main);

        border: 1px solid $main;
        outline: none;

        &_m {
          width: 115px;
        }
      }

      &__submit {
        padding: 6px 12px;

        @include font(14px, $reg, #fff);

        background: $orange;
        border: none;
        cursor: pointer;
        outline: none;
      }

      .line {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 12px;
          left: -12px;
          width: 12px;
          height: 1px;
          background: $main;
        }
      }
    }
  }
}

.load {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  width: 180px;
  padding: 16px 0;

  background: $main;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;

  &__svg-box {
    width: 20px;
    height: 20px;

    svg {
      stroke: #fff;
      fill: $main;
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    margin: 0 0 0 10px;
    @include font(16px, $bold, #fff);

    text-decoration: none;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 0 0 40px;

  &-list {
    display: flex;

    li {
      margin: 0 3px 0 0;
    }

    &__dots {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;

      @include font(16px, $bold, $main);
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;

      @include font(16px, $bold, $main);

      border-radius: 5px;
      text-decoration: none;

      &:hover {
        border: 1px solid $main;
      }

      &.current {
        background: $main;
        color: #fff;
      }

      &_next {
        background: $main;

        svg {
          transform: rotate(-90deg);
        }
      }

      &_prev {
        background: $main;

        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}

.ui-slider-handle.ui-state-hover:hover {
  border-color: $orange;
}

.ui-slider-horizontal .ui-slider-range {
  background: #6468a1;
  border: none;
}

.ui-widget-content {
  max-width: 205px;
  margin: 0 0 20px 7px;
  background: lighten($main, 25%);
  height: 4px;
  border: none;
  border-radius: 5px;

  @media ($desctop) {
    max-width: 177px;
  }
}

.ui-state-default, .ui-widget-content .ui-state-default {
  top: -18px;

  display: inline-block;
  height: 40px;
  width: 40px;

  border: 1px solid $main;
  border-radius: 50%;
  background-color: #fff;

  outline: none;

  @media ($desctop) {
    top: -14px;
    height: 30px;
    width: 30px;
  }

  &:nth-of-type(1) {
    background-image: url("../img/svg/triangle-left-main.svg");
    background-repeat: no-repeat;
    background-position: top 12px left 12px;
    background-size: 10px;

    @media ($desctop) {
      background-position: top 7px left 8px;
    }

    &:hover {
      background-image: url("../img/svg/triangle-left-orange.svg");
    }
  }

  &:nth-of-type(2) {
    background-image: url("../img/svg/triangle-right-main.svg");
    background-repeat: no-repeat;
    background-position: top 12px right 12px;
    background-size: 10px;

    @media ($desctop) {
      background-position: top 7px right 8px;
    }

    &:hover {
      background-image: url("../img/svg/triangle-right-orange.svg");
    }
  }
}

.form-select {
  position: relative;

  display: inline-block;
  width: 150px;
  outline: none;

  @media ($desctop) {
    width: 160px;
    border-bottom: 1px solid $main;
  }

  &__head {
    display: inline-block;
    width: 100%;

    @include font(14px, $bold, $main);

    background-image: url("../img/svg/backgrounds/main-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 13px;

    cursor: pointer;

    @media ($desctop) {
      padding: 0 0 5px;
    }

    &.arrow-up {
      background-image: url("../img/svg/backgrounds/main-arrow-up.svg");
    }
  }

  &__list {
    display: none;
    //display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 5;
    margin: 0;
    padding: 10px 0;

    background: #fff;
    border: 2px solid $main;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  &__item {
    padding: 5px 10px;
    @include font(14px, $bold, $dark);
    cursor: pointer;

    &:hover {
      background-color: #ffdeba;
    }
  }
}

.open {
  display: block;
}

.m-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  cursor: pointer;

  @media ($desctop) {
    display: none;
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;

    @include font(16px, $reg, #fff);
    font-weight: bold;

    background: $orange;
    border-radius: 50%;
  }

  &__title {
    margin: 0 0 0 13px;

    @include font(16px, $bold, $main);
  }
}





