.subtitle {

  &-wrap {
    position: relative;

    display: flex;
    justify-content: center;
    padding: 37px 0 0;

    @media ($desctop) {
      padding: 0 0 5px;
    }
  }

  &-section {
    display: flex;
    align-items: center;
    padding: 25px 25px 0;

    @media ($desctop) {
      padding: 0;
    }

    &__title {
      display: inline-flex;
      flex-direction: column;
      margin: 0 0 0 25px;

      @include font(18px, $bold, $dark);
      letter-spacing: -.1px;

      @media ($desctop) {
        display: flex;
        margin: 0 0 0 35px;

        @include font(26px, $bold, $dark);
      }
    }

    &__desc {
      margin: 5px 0 0;
      @include font(16px, $reg, $dark);

      @media ($desctop) {
        @include font(18px, $reg, $dark);
      }
    }

    &__svg-box {
      flex-shrink: 0;

      &_very-small {
        width: 55px;
        height: 55px;
      }

      &_small {
        width: 50px;
        height: 50px;
      }

      &_medium {
        width: 75px;
        height: 75px;
      }

      &_big {
        width: 75px;
        height: 75px;
      }

      svg {
        fill: $main;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.back {

  &_m {
    max-width: 400px;

    margin: 0 auto 15px;

    @media ($desctop) {
      display: none;
    }
  }

  &_abs {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;

    @media ($desctop) {
      top: 7px;
      width: auto;
    }
  }

  &-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 9px 18px;
    width: 100%;

    border: 1px solid #aeb1d9;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      border-color: $orange;

      .back-link__svg-box svg {
        fill: $orange;
      }

      .back-link__text {
        color: $orange;
      }
    }

    @media ($desctop) {
      padding: 9px 18px 9px 14px;
      width: auto;
    }

    &__svg-box {
      width: 15px;
      height: 14px;

      svg {
        width: 100%;
        height: 100%;
        fill: #aeb1d9;
      }
    }

    &__text {
      padding: 0 0 0 6px;

      @include font(14px, $reg, #aeb1d9);
    }
  }
}
