.page-info {
  margin: 50px auto;
  max-width: 400px;

  @media ($desctop) {
    margin: 50px 0 0;
    min-height: 600px;
    max-width: 100%;
  }

  &__row {
    display: flex;
  }

  &__col {
    flex-shrink: 0;

    &:first-child {
      display: none;

      @media ($desctop) {
        display: flex;
        flex-basis: 285px;
        width: 285px;
      }
    }

    &:last-child {
      width: 100%;
      max-width: 100%;

      @media ($desctop) {
        max-width: 650px;
        padding: 0 0 0 90px;
      }
    }
  }

  &-list {

    &-wrap {
      width: 100%;
      height: 100%;
      border-right: 2px solid $main;
    }

    &__link {
      display: block;
      padding: 15px 0 15px 20px;

      @include font(18px, $reg, #808080);

      text-decoration: none;

      &_current {
        @include font(18px, $bold, $main);

        border-left: 2px solid $main;
        background: rgba(101,104,158, .1);
        pointer-events: none;
      }
    }
  }

  &-desc {
    margin: 20px 0;

    &__text {
      margin: 0;

      @include font(15px, $reg, $dark);
      line-height: 20px;
      text-indent: 20px;
      text-align: justify;

      @media ($desctop) {
        text-indent: 40px;
        text-align: inherit;
      }
    }
  }
}