.seo {

  &-wrap {
    margin: 0 0 50px;

    &-content {
      position: relative;

      max-height: 150px;
      overflow: hidden;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 30px;
        background: linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
      }

      &.is-open {
        max-height: 10000px;

        &:after {
          display: none;
        }
      }

      h2 {
        margin: 0 0 15px;

        @include font(24px, $bold, $dark);
      }

      p {
        margin: 0 0 10px;

        @include font(13px, $reg, $dark);
      }
    }

    &-btn {
      display: flex;
      justify-content: flex-end;
      margin: 20px 0 0;

      &__seemore {
        @include font(14px, $reg, $main);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }


}