.search-box-title {
  padding: 0 0 17px;

  @media ($desctop) {
    padding: 0 0 17px;
    margin: 0 0 17px;
  }

  .header-section {
    justify-content: flex-start;

    &__title {
      @include font(24px, $bold, $dark);
    }
  }
}