.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 54px;

  @include font(18px, $bold, #fff);

  background: $orange;
  text-decoration: none;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #f17c04;
  }
}