.ordering {

  &-border-box {
    border-top: 1px solid $border;
    height: 100%;
    overflow: hidden;

    &.left {

      @media ($desctop) {
        border-left: 1px solid $border;
      }
    }

    &.center {

      @media ($desctop) {
        border-left: 1px solid #6468a1;
        border-right: 1px solid #6468a1;
      }
    }

    &.right {

      @media ($desctop) {
        border-right: 1px solid $border;
      }
    }
  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
    min-height: 61px;

    &__icon {
      fill: $main;
    }

    &__head {
      margin: 0 0 0 15px;

      @include font(20px, $bold, $dark);

      &_personal {
        margin: 0;
      }
    }

    &__desc {
      margin: 0 0 0 15px;

      @include font(18px, $bold, $orange);
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    padding: 0 0 50px;
    overflow: hidden;
    max-width: 400px;
    margin: auto;

    @media ($desctop) {
      flex-direction: row;
      max-width: 100%;
      margin: 0;
      min-height: 900px;
      padding: 0 0 50px;
    }

    &__basket {
      flex-basis: 33.33%;
      flex-shrink: 0;
    }

    &__form {
      flex-grow: 1;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;

    @media ($desctop) {
      flex-direction: row;
      height: 100%;
    }

    &__col {
      flex-basis: 50%;
      padding: 27px 0 0;

      @media ($desctop) {
        padding: 0;
      }
    }
  }

  &-info {
    padding: 20px 0 0;

    @media ($desctop) {
      padding: 20px 45px 0;
    }

    &_personal {
      padding: 0;

      @media ($desctop) {
        padding: 20px 45px 0;
      }
    }

    &-promo {
      margin: 20px 0;
      text-align: center;

      &__link {
        padding: 0 0 2px;

        @include font(14px, $bold, $main);
        text-decoration: none;

        border: none;
        border-bottom: 1px dashed $main;
        background: none;
        outline: none;
        cursor: pointer;

        &:hover {
          color: $orange;
          border-color: $orange;
        }
      }
    }

    &-accord {
      margin: 20px 0;

      &__text {
        margin: 0;

        @include font(14px, $bold, #d9d9d9);
        text-align: center;

        @media ($desctop) {
          text-align: left;
        }
      }

      &__link {
        padding: 0;
        @include font(14px, $bold, #d9d9d9);

        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid #d9d9d9;
        cursor: pointer;
      }
    }

    &__head {
      margin: 0 0 10px;
      @include font(18px, $reg, $dark);

      text-align: center;
    }

    &-price {
      display: flex;
      align-items: flex-end;
      padding: 0 0 7px 11%;

      @media ($desctop) {
        padding: 0 0 7px;
      }

      &_total {
        padding: 9px 0 9px 11%;

        @media ($desctop) {
          padding: 9px 0;
        }
      }

      &__head {
        display: flex;
        justify-content: flex-end;
        flex-basis: 104px;
        @include font(16px, $bold, $dark);
      }

      &__pay {
        padding: 0 0 0 7px;
        @include font(16px, $bold, $main);

        &_orange {
          @include font(30px, $bold, $orange);
          line-height: 20px;

          span {
            font-size: 18px;
          }
        }
      }
    }
  }

  &-item {
    position: relative;

    display: flex;
    padding: 0 0 6px;

    border-bottom: 1px solid $border;

    &__col {
      display: flex;
      flex-direction: column;

      &:first-child {
        align-items: center;
        flex-basis: 70px;
        flex-shrink: 0;
      }

      &:last-child {
        flex-grow: 1;
      }
    }

    &-img {
      padding: 14px 0 0;

      img {
        height: 70px;
        width: 70px;
      }

      &_bs {
        padding: 9px 0 0;
        width: 60px;
        flex-shrink: 0;

        img  {
          width: 100%;
          height: 100%;
        }
      }
    }

    &-weight {
      position: relative;

      padding: 1px 4px;
      margin: 15px 0 0;

      @include font(14px, $bold, #fff);

      background: $orange;

      &:before {
        content: "";
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid $orange;
      }

      &_bs {
        display: inline-block;
        margin: 0 0 5px;

        &:before {
          display: none;
        }
      }
    }

    &-desc {
      padding: 27px 0 0 0;

      @media ($desctop) {
        padding: 27px 25px 0 28px;
      }

      &__title {
        @include font(14px, $bold, $dark);
        line-height: 18px;
        letter-spacing: 0.1px;
      }

      &_bs {
        max-height: 56px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 13px 0;

      @media ($desctop) {
        padding: 13px 19px 13px 27px;
      }

      &_catalog {
        width: 100%;
        padding: 6px 0;
      }

      &__old {
        @include font(13px, $bold, $dark);
        text-decoration: line-through;

        @media ($desctop) {
          @include font(16px, $bold, $dark);
        }
      }

      &__new {
        @include font(16px, $bold, $orange);
      }
    }

    &__close {
      position: absolute;
      top: 2px;
      right: 2px;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 10px;
      height: 10px;
      padding: 10px;

      cursor: pointer;

      &_result {
        top: 9px;

        cursor: pointer;
      }
    }
  }
}

.delete {
  display: flex;
  justify-content: center;
  margin: 33px 0;

  &__item {
    @include font(16px, $reg, $dark);

    border-bottom: 1px solid $dark;
    cursor: pointer;
  }
}

.radio-box {
  position: relative;

  &__input {
    display: none;

    & + .radio-box-label {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 20px 20px 19px 55px;
      min-height: 85px;

      border-bottom: 1px solid $border;
      cursor: pointer;

      &_disabled {
        pointer-events: none;
        .radio-box-label__head {
          color: #d9d9d9;
        }
      }

      &.hidden {
        display: none;

        @media ($desctop) {
          display: flex;
        }
      }
    }

    & + .radio-box-label:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 15px;
      width: 22px;
      height: 22px;
      transform: translateY(-50%);
      border-radius: 50%;
      border: 2px solid #cdcdcd;

      @media ($desctop) {
        width: 24px;
        height: 24px;
      }
    }

    & + .radio-box-label:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 21px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: $main;
      opacity: 0;
      transform: translateY(-50%);

      @media ($desctop) {
        width: 16px;
        height: 16px;
      }
    }

    &:checked + .radio-box-label {
      background: #f7f7fa;
    }

    &:checked + .radio-box-label:before {
      border-color: $main;
    }

    &:checked + .radio-box-label:after {
      opacity: 1;
    }
  }

  &-label__head {
    @include font(14px, $reg, $dark);

    @media ($desctop) {
      margin: 0 0 5px;

      @include font(16px, $reg, $dark);
    }
  }

  &-label__desc {
    @include font(16px, $bold, $orange);
  }
}

.check-box {
  position: relative;
  margin: 20px 0;

  &_auto {
    margin: 20px 0 20px auto;
    max-width: 355px;

    @media ($desctop) {
      margin: 20px 0;
      max-width: 100%;
    }

    .check-box__input + .check-box-label:before {

      @media (min-width: 335px) and (max-width: 767px)  {
        top: -3px;
      }
    }

    .check-box__input + .check-box-label:after {

      @media (min-width: 335px) and (max-width: 767px)  {
        top: 3px;
      }
    }


  }

  &__input {
    display: none;

    & + .check-box-label {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0 0 0 40px;
      cursor: pointer;
      user-select: none;
    }

    & + .check-box-label:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      border-radius: 5px;
      border: 2px solid #cdcdcd;
    }

    & + .check-box-label:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 16px;
      height: 16px;
      background: url("../img/svg/backgrounds/check.svg") no-repeat center;
      background-size: 100%;
      opacity: 0;
    }

    &:checked + .check-box-label:before {
      border-color: $orange;
    }

    &:checked + .check-box-label:after {
      opacity: 1;
    }
  }

  &-label__head {
    @include font(16px, $reg, $dark);
  }
}

.help {
  position: absolute;
  right: 10px;
  bottom: 10px;

  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover .help-hint {
    display: flex;
    top: -110px;
    opacity: 1;
    z-index: 5;
  }

  &__title {
    margin: 0 5px 0 0;
    @include font(14px, $reg, $dark);
  }

  &__icon {
    fill: #b7badf;
  }

  &-hint {
    position: absolute;
    top: -115px;
    right: -198px;
    z-index: -1;

    display: flex;
    flex-direction: column;
    padding: 10px 12px;
    min-width: 240px;

    border-radius: 10px;
    border: 1px solid #ddeab3;
    background: #f3ffce;
    transition: .35s;
    opacity: 0;
    cursor: default;

    &:after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 25px;
      width: 10px;
      height: 10px;
      background: #f3ffce;
      border-right: 1px solid #ddeab3;
      border-bottom: 1px solid #ddeab3;
      transform: rotate(45deg);
    }

    &__item {
      padding: 3px 0;
      @include font(14px, $reg, $dark);
    }
  }
}

.arrows {
  position: relative;

  @media ($desctop) {
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -24px;
      width: 48px;
      height: 13px;
      background: url("../img/svg/triple-arrow.svg") no-repeat center;
      transform: translateY(-50%);
    }
  }


}

