.breadcrumbs {
  padding: 15px 0;

  @media ($desctop) {
    padding: 23px 0 20px;
  }

  &-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    &-item {
      position: relative;

      display: flex;
      align-items: center;
      padding: 0 25px 0 0;
      margin: 0 0 5px;

      letter-spacing: .3px;
      list-style: none;

      @media ($desctop) {
        margin: 0;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        width: 9px;
        height: 12px;
        background: url("../img/svg/bread-arrow.svg") no-repeat center;
        background-size: contain;
      }

      &:last-child {

        &:after {
          display: none;
        }

        .breadcrumbs-list-item__text {
          max-width: 160px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .breadcrumbs-list-item__arrow {
          display: none;
        }

      }

      &__link {
        @include font(12px, $reg, $main);
        text-decoration: none;

        &:hover {
          color: $orange;

          & + .breadcrumbs-list-item__arrow {
            fill: $orange;
          }
        }
      }

      &__text {
        @include font(12px, $reg, $main);
      }

      &__arrow {
        fill: $main;
        height: 14px;
        width: 9px;
        margin: 0 6px 0 7px;
      }
    }
  }


}