@font-face {
  font-family: 'latobold';
  src: url('../fonts/latobold/latobold.eot');
  src: url('../fonts/latobold/latobold.eot') format("embedded-opentype"),
  url('../fonts/latobold/latobold.woff2') format("woff2"),
  url('../fonts/latobold/latobold.woff') format("woff"),
  url('../fonts/latobold/latobold.ttf') format("truetype"),
  url('../fonts/latobold/latobold.svg#latobold') format("svg");
}

@font-face {
  font-family: 'latolight';
  src: url('../fonts/latolight/latolight.eot');
  src: url('../fonts/latolight/latolight.eot') format("embedded-opentype"),
  url('../fonts/latolight/latolight.woff2') format("woff2"),
  url('../fonts/latolight/latolight.woff') format("woff"),
  url('../fonts/latolight/latolight.ttf') format("truetype"),
  url('../fonts/latolight/latolight.svg#latolight') format("svg");
}

@font-face {
  font-family: 'latoregular';
  src: url('../fonts/latoregular/latoregular.eot');
  src: url('../fonts/latoregular/latoregular.eot') format("embedded-opentype"),
  url('../fonts/latoregular/latoregular.woff2') format("woff2"),
  url('../fonts/latoregular/latoregular.woff') format("woff"),
  url('../fonts/latoregular/latoregular.ttf') format("truetype"),
  url('../fonts/latoregular/latoregular.svg#latoregular') format("svg");
}