@mixin placeholder {
  &.placeholder {
    color: $c-gray;
    opacity: 1;
    text-indent: 0;
    transition: text-indent .25s ease;
  }
  &:-moz-placeholder {
    color: $c-gray;
    opacity: 1;
    text-indent: 0;
    transition: text-indent .25s ease;
  }
  &::-moz-placeholder {
    color: $c-gray;
    opacity: 1;
    text-indent: 0;
    transition: text-indent .25s ease;
  }
  &::-webkit-input-placeholder {
    color: $c-gray;
    opacity: 1;
    text-indent: 0;
    transition: text-indent .25s ease;
  }
}

@mixin focus {
  &:focus::-webkit-input-placeholder {
    opacity: 0;
    text-indent: 250px;
    transition: all .25s ease;
  }
  &:focus::-moz-placeholder {
    opacity: 0;
    text-indent: 250px;
    transition: all .25s ease;
  }
  &:focus:-moz-placeholder {
    opacity: 0;
    text-indent: 250px;
    transition: all .25s ease;
  }
  &:focus:-ms-input-placeholder {
    opacity: 0;
    text-indent: 250px;
    transition: all .25s ease;
  }
}