/* fonts */
$reg: 'latoregular', sans-serif;
$bold: 'latobold', sans-serif;
$light: 'latolight', sans-serif;

/* color */
$dark: #424242;
$orange: #ff8b07;
$main: #6468a1;
$border: #cdcde5;
$error: #ff0000;

/* media */
$mobile: "max-width: 767px";
$desctop: "min-width: 768px";
