/* fonts */
$f-regular: 400;
$f-bold: 700;

/* color */
$c-red: #e24545;
$c-gray: #888888;
$c-dark: #444444;
$c-black: #222222;
$c-white: #fff;

/* media */
$m-extra-small: "max-width: 576px";
$m-small: "min-width: 576px";
$m-medium: "min-width: 768px";
$m-large: "min-width: 992px";
