.thanks {
  margin: 40px 0 0px;

  &-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 40px;

    @media ($desctop) {
      max-width: 372px;
      padding: 70px 0 0;
      border-bottom: 5px solid #f3f6f9;
      background: url("../img/svg/backgrounds/border2.png") no-repeat;
    }

    &:before {

      @media ($desctop) {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: calc(100% - 50px);
        width: 5px;
        background: #f3f6f9;
      }
    }

    &:after {

      @media ($desctop) {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: calc(100% - 50px);
        width: 5px;
        background: #f3f6f9;
      }
    }

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin: auto;

      svg {
        width: 100%;
        height: 100%;
        fill: $orange;
      }
    }

    &-header {
      margin: 17px 0 30px;
      text-align: center;

      &__title {
        margin: 0;
        @include font(26px, $bold, $main);
      }
    }

    &-content {

      &-table {
        display: flex;
        flex-wrap: wrap;
        max-width: 320px;
        margin: auto;

        @media ($desctop) {
          max-width: 100%;
          margin: auto;
        }

        &__item {
          padding: 0 0 20px;
          line-height: 25px;
          letter-spacing: .2px;

          &:nth-child(odd) {
            width: 38%;
            flex-basis: 38%;
            padding: 0 0 0 15px;

            @include font(14px, $reg, #919191);

            @media ($desctop) {
              padding: 0 0 0 30px;
            }
          }

          &:nth-child(even) {
            width: 62%;
            flex-basis: 62%;

            @include font(14px, $bold, $main);
          }

          &:last-child {
            margin: -5px 0 0;

            .info-link {

              svg {
                fill: $orange;
              }

              .info-link__text {
                color: $orange;
              }
            }
          }

          &_half {
            width: 50% !important;
            flex-basis: 50% !important;
          }

        }
      }
    }
  }
}

















