.detail {

  &-wrap {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;

    @media ($desctop) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;
    }

    &__col {
      display: flex;
      flex-direction: column;

      &_m {

        @media ($desctop) {
          display: none;
        }
      }

      &:nth-child(1) {

        @media ($desctop) {
          flex-basis: 456px;
        }
      }

      &:nth-child(2) {

        @media ($desctop) {
          flex-basis: 456px;
        }
      }

      &:nth-child(3) {
        display: none;

        @media ($desctop) {
          display: flex;
          flex-basis: 217px;
          background: #fbfbfb;
          margin-top: -57px;
        }
      }
    }
  }

  &-head {
    display: none;
    margin: 15px 0 20px;

    @media ($desctop) {
      display: block;
    }

    &_m {
      margin: 0 0 15px;

      @media ($desctop) {
        display: none;
      }

      .detail-head__title {
        @include font(18px, $bold, $dark);
        line-height: 24px;
      }
    }

    &__title {
      margin: 0;

      @include font(20px, $bold, $dark);
      line-height: 28px;
    }
  }

  &-back {
    display: none;

    @media ($desctop) {
      display: block;
    }
  }
}

.accordeon {

  &-wrapper {
    margin: 0 8px;
    border-top: 1px solid $main;

    &_nomar {
      margin: 0;
    }
  }

  &-box {
    border-bottom: 1px solid $main;

    transition: all .4s;

    &.open {
      background: #fbfbfb;

      transition: all .4s;

      .accordeon-box-head_filter {
        background-image: url("../img/svg/minus-main.svg");
        background-repeat: no-repeat;
        background-position: center right 8px;
        background-size: 18px;

        &:hover {
          background-image: url("../img/svg/minus-orange.svg");
        }
      }
    }

    &-head {
      padding: 13px 8px 11px 8px;

      background-image: url("../img/svg/backgrounds/main-arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center right 8px;
      background-size: 17px;
      cursor: pointer;

      &_filter {
        background-image: url("../img/svg/plus-main.svg");

        &:hover {
          background-image: url("../img/svg/plus-orange.svg");
        }
      }

      &_info {
        padding: 14px 0;
      }

      &.up {
        background-image: url("../img/svg/backgrounds/main-arrow-up.svg");
      }

      &__title {
        margin: 0;
        @include font(14px, $bold, $main);

        &_info {
          padding: 0 25px 0 0;
          @include font(14px, $bold, $main);

          @media ($desctop) {
            padding: 0;
            @include font(15px, $bold, $main);
          }
        }

        &_filter {
          color: $dark;

          &:hover {
            color: $orange;

            span {
              color: $orange;
            }
          }

          span {
            @include font(12px, $bold, $main);
          }
        }
      }
    }

    &-content {
      padding: 0 0 15px;

      &_m {
        margin: auto;
        padding: 25px 0;
        max-width: 265px;
      }

      &__scroll {
        height: 120px;
      }
    }

    &-list {
      margin: 0;
      padding: 0 0 0 10px;

      &_info {
        padding: 0;
      }

      &__item {
        @include font(14px, $reg, $dark);
        line-height: 18px;

        &_info {
          @include font(15px, $reg, $dark);
          text-indent: 40px;
        }
      }

    }
  }
}

.detail-slider {
  width: 100%;
  border: 1px solid $border;

  @media ($desctop) {
    width: 456px;
  }

  .swiper-wrapper .swiper-slide {
    text-align: center;

    img {
      width: 100%;
    }
  }

  .swiper-button-prev {
    outline: none;
    background-image: url("../img/svg/slider/arrow-prev.svg");
  }

  .swiper-button-next {
    outline: none;
    background-image: url("../img/svg/slider/arrow-next.svg");
  }
}




















